body {
	background: #5A7749;
  margin-bottom: 5%;
}

h1 {
	margin-bottom: 1.5%;
}

#upsell div {
  display: none;
}

.lead {
  height: 200px;
  background-color: #ddd;
  color: #666;
  padding: 30px;
}

.playControls {
  margin-top: 30px;
}

.artistAlbumInfo {
	max-height: 250px;
  text-align: center;
  background-color: #ddd;
}

.artistAlbumInfo > img {
	height: 100px;
}

.albumArt {
  border-radius: 50%;
  border: 3px solid #ccc;
}

.frequency {
  margin-top: 5px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.frequency div {
  height: 6px;
  background-color: #ccc;
  border: 1px dotted #ddd;
}

.play:hover {
	cursor: pointer;
}

/* Search */

table {
	background: rgb(0,255,197);
  width: 65%;
  margin: 0 auto;
}

td > img {
	height: 137.5px;
	margin-right: 10px;
}

tbody tr {
  height: 140px;
	border: 2px solid black;
}

td:nth-child(2) {
	width: 50%;
}

td:nth-last-child(2) {
	display: none;
}

.search-labels {
	width: 100%;
	margin-bottom: 2%;
}

#label-box {
	width: 20%;
	margin: 0 auto;
}

#album-label, #artist-label {
	width:30px;
}

#album-label:hover, #artist-label:hover {
	cursor: pointer;
}

.search-form {
  width: 24.5%;
  margin: 0 auto;
}

#album-header {
  margin: 3% 0 0 17%;
  font-size: 120%;
  font-weight: bold;
}

#album-header li:first-child {
  margin-right: 18%;
}

#album-header li:nth-child(2) {
  margin-right: 34%;
}
